body{
    background-color: black;
}
section{
    align-items: center;
}
p,h1{
    color: white;
    align-self: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
}